body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.orange-color{
    color: tomato;
    
}
section{
    display: flex;

    
}
.text-color{
    color:rgb(98, 101, 104) ;
}
.half-width{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding:15px 30px ;
    border-radius:50px ;
    color: white;
    background-image: linear-gradient(tomato,rgb(255, 179, 0));
}
#first{
    padding:5% 6% ;
}
.gray{
    color: gray;
}

.girl{
    width: 100%;
    
    
    background-repeat: no-repeat;
    padding: 5%;
    text-align: left;


}
.girl2{
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;

    
}
.contact{
    text-decoration: none;
    background-color: tomato;
    padding:15px 30px ;
    border-radius:50px ;
    color: white;
    background-image: linear-gradient(tomato,rgb(255, 179, 0));
    font-weight: 700;
}
.about{
    color: rgb(122, 121, 121);
    font-weight: 700;
}
.lorem{
font-weight: 500;
color: rgb(53, 52, 52);
}
  .recipie{
    text-align: center;
    color: rgb(79, 77, 77);
  }  
  .my{
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .lorem2{
    font-weight: 400;
  }
  .food pic{
    display: flex;
    width: 50%;
    padding-left: 70px;
    
    

  }
  .bold recipie{
    font-weight: bolder;
  }
  .border{
    border: 1px solid rgb(242, 239, 239);
    border-radius: 40px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 50px;
    border-radius: 40px;
  }
  .border1{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 50px;
    border: 1px solid rgb(242, 239, 239);;
    border-radius: 40px;
    

  }
  .dummy{
    color: rgb(81, 80, 80);
    font-weight: 100px;
  }
  .footer{
    display: flex;
    border: 1px solid rgb(242, 239, 239);
    border-radius: 50px;
    padding-left:100px;
    padding-right: 100px;
    text-align: center;
  }
  .f1{
    padding-left: 230px;

}
  .f2{
    padding-left: 90px;
  }
  .f3{
    padding-left: 90px;
  }
  .footer2{
    border: 1px solid rgb(31, 30, 30);
    background-color: black;
    padding-left:450px;
    padding-right: 100px;
    text-align: center;
  }
  .fresh{
    color: rgb(179, 176, 176);
  }
  .eat{
    color: rgb(244, 111, 88);
  }
  .healthy{
    color: white;
    font-weight: 200;
  }

  
